# Runtime
STATIC_HOST=0.0.0.0
STATIC_PORT=80
STATIC_FRONTEND_ROOT=/app/frontend
STATIC_LOG_DIR=/app/logs
STATIC_LOG_FILE=gateway-server.log
STATIC_CONFIG_PATH=/app/config/static-server.conf

# single-route fallback
API_PROXY_UPSTREAM_HOST=business
API_PROXY_UPSTREAM_PORT=8080
API_PROXY_ROUTE_PREFIX=/api
API_PROXY_ENABLED=true
API_PROXY_MODE=http

# multi-route (priority high)
# API_PROXY_ROUTES=/api/v1/auth,auth,8081,http;/api,business,8080,http;/ai,ai,8000,raw

# Build (optional)
STATIC_BASE_IMAGE=ubuntu-24.04:galay-web-1.0
